
<div *ngIf="team">
    <h2><span jhiTranslate="fuzmonoApp.team.detail.title">Team</span> {{team.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fuzmonoApp.team.teamName">Team Name</span></dt>
        <dd>
            <span>{{team.teamName}}</span>
        </dd>
        <dt><span jhiTranslate="fuzmonoApp.team.pOne">P One</span></dt>
        <dd>
            <div *ngIf="team.pOne">
                <a [routerLink]="['/player', team.pOne?.id]">{{team.pOne?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="fuzmonoApp.team.pTwo">P Two</span></dt>
        <dd>
            <div *ngIf="team.pTwo">
                <a [routerLink]="['/player', team.pTwo?.id]">{{team.pTwo?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
